<div class="main-container">
  <h1 class="main-title">Chat</h1>
  <div class="chat-container">
    <mat-card class="main-card">
      <mat-list class="chat-list">
        <mat-list-item *ngFor="let message of messages" [ngClass]="[(!message.action && message.from.id === currentUser.id) ? 'chat-list-item' : '']">
          <img mat-list-avatar *ngIf="!message.action" [src]="message.from.avatar">
          <h4 mat-line *ngIf="!message.action">
            <span>({{message.date}})</span>
            <b class="message-username">{{message.from.name}}</b>
            <span>{{message.content}}</span>
          </h4>
          <p mat-line *ngIf="message.action === action.JOINED" class="chat-notification">
            <span> <b>{{message.from.name}}</b> joined the conversation</span>
          </p>
          <p mat-line *ngIf="message.action === action.RENAME" class="chat-notification">
            <span> <b>{{message.content.previousUsername}}</b> changed name to <b>{{message.content.username}}</b> </span>
          </p>
          <p mat-line *ngIf="message.action === action.LEFT" class="chat-notification">
            <span> <b>{{message.from.name}}</b> left the conversation</span>
          </p>
        </mat-list-item>
      </mat-list>
      <div class="chat-footer-container">
        <mat-form-field class="chat-input">
          <input matInput
                 #inputMessage
                 maxlength="250"
                 placeholder="Message"
                 [(ngModel)]="messageContent"
                 (keyup.enter)="sendMessage(messageContent)">
          <mat-hint align="end">{{inputMessage.value.length}}/250</mat-hint>
        </mat-form-field>
        <button class="send-button" (click)="sendMessage(messageContent)" mat-raised-button>Send</button>
      </div>
    </mat-card>
  </div>
  <chat-users-list
    *ngIf="users.length"
    [users]="users"
    [currentUser]="currentUser"
    [sendNotification]="sendNotification"
    [openUserPopup]="openUserPopup"
    (onClickUserEvent)="onClickUserEvent($event)"></chat-users-list>
</div>
