[mat-fab] {
    position: absolute;
    right: 2%;
    top: 35px;
    z-index: 1;
}
.main-container {
  position: fixed;
  width: 100%;
  height: 10%;
  background-color: gray;
}
.main-title {
  margin: 25px;
}
.chat-container {
    position: fixed;
    top: 10%;
    width: 80%;
    height: 90%;
}
.chat-input {
    padding-top: 20px;
    width: 90%;
}
.chat-list {
    overflow: auto;
    position: fixed;
    top: 100px;
    left: 25px;
    right: 25px;
    bottom: 120px;
    width: 78%;
}
.message-username {
  color: cadetblue;
}
.chat-list-item {
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    background-color: #E8EAF6;
}
.main-card {
    height: 100%;
}
.chat-footer-container {
    position: fixed;
    bottom: 25px;
    left: 25px;
    right: 25px;
    width: 78%;
}
.chat-notification {
    text-align: center;
}
.send-button {
  text-transform: uppercase;
  color: white;
  background-color: green;
}
