<div class="users-container">
  <mat-list class="users-list">
    <mat-list-item class="user-item" *ngFor="let user of users">
      <img mat-list-avatar [src]="user.avatar">
      <h4 mat-line>
        <b>{{user.name}}</b>
      </h4>
      <p mat-line *ngIf="currentUser.id === user.id">
        <span class="span-clickable" (click)="onClickUserInfo()">change your name</span>
      </p>
      <p mat-line *ngIf="currentUser.id !== user.id">
        <span class="span-clickable" (dblclick)="onClickUserMessage(user.name)">double click to send message</span>
      </p>
    </mat-list-item>
  </mat-list>
</div>
