.users-container {
  position: fixed;
  right: 0;
  top: 10%;
  width: 20%;
  height: 90%;
  background-color: gray;
}
.users-list {
  padding: 0;
}
.user-item {
  background-color: white;
  margin: 10px;
}
.span-clickable {
  cursor: pointer;
  color: cadetblue;
}
